/*
 *  Common Elements
 */

body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, Sans-Serif;
}

input {
	font-size: 14px;
	width: 540px;
}

button {
	margin: 5px;
	padding: 10px 35px;
	vertical-align: middle;
	cursor: pointer;

	border: 0px;
	border-radius: 4px;
	background-clip: padding-box;
	background: #65a9d7;
	
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
button:hover {
	background: #28597a;
	color: #ccc;
}

button.small {
	margin: 5px 15px;
	padding: 5px 15px;
	font-size: 12px;
}

/*
 *  Common selectors
 */

#container {
	margin: 50px auto;
	width: 700px;
	display: block;
}
.label {
	font-size: 18px;
	
	float: left;
}
.inputcontainer {
	margin-top: 150px;
	text-align: right;
}
.input{
	margin: 20px 15px;
	
	float: left;
}
#protocol {
	width: 110px;
	float: left;
	
	font-size: 14px;
	font-weight: bold;
}
#endpoint {
	/*float: right;*/
}
.submit {
	/*margin-top: 40px;*/
}
.submit button {
	/*float: right;*/
	margin-top: 110px;
}

.ui-menu {
	width: 500px;
	padding: 10px;
	list-style-type: none;
}
.ui-menu:hover {
	cursor: pointer;
}
.ui-menu-item {
	padding: 3px 2px 3px 10px;
	background-color: lightgreen;
}

.error {
	font-size: 20px;
	color: darkred;
}

/*
 * Tool
 */
.appsite {
	margin-top: 50px;;
}
.appsite > .name{
	font-weight: bold;
	font-size: 24px;
	line-height: 2em;
	
	margin: 20px 10px;
}

.activity {
	border-style: double;
	border-width: 2px;
	padding: 5px 5px;
}
.activity:hover {
	cursor: pointer;
	background-color: lightcoral;
	color: white;
}
.activity > .name, .activity > .id{
	font-size: 18px;
	line-height: 1.5em;
	font-weight: bold;
	
	margin: 5px 15px;
}
.activity > .id {
	text-align: right;
}


.field,
.method {
	border-style: dotted;
	border-width: 1px;
	font-size: 14px;
	margin: 5px;
	padding: 2px;
}
.field:hover,
.method:hover {
	background-color: lightblue;
	color: black;
}

.field > .title, 
.method > .title,
.parameter > .title{
	font-size: 16px;
	font-weight: bold;
	margin: 2px 5px;
}
.field > .pair,
.method > .pair,
.parameter > .pair {
	margin: 2px;
	text-align: right;
}
.field > .pair >.key,
.method > .pair >.key,
.parameter > .pair > .key {
	float: left;
}


 